@model IEnumerable<MVCDemo.Models.Department>

@using MVCDemo.Models

@{
    ViewBag.Title = "Department List";
}

<div style="font-family:'Comic Sans MS'">
    <h2><b>Department Details</b></h2>
    <ul>
        @foreach (Department department in @Model)
        {
            <li>
                @Html.ActionLink(department.DepartmentName, "Index", "Employee", new { departmentId = department.DepartmentId },null)
            </li>
        }
    </ul>
</div>

